name: Build and Deploy Docker Image

on:
  push:
    branches:
      - build  # Trigger the action on push to the build branch

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    # Log in to GHCR using Personal Access Token (PAT)
    - name: Log in to GitHub Container Registry
      run: echo "${{ secrets.GHCR_PAT }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin

    - name: Build Docker image
      run: docker build -t ghcr.io/${{ github.repository_owner }}/push-tester:latest .

    - name: Push Docker image to GitHub Container Registry
      run: docker push ghcr.io/${{ github.repository_owner }}/push-tester:latest

    - name: SSH to VPS and Deploy
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          # Log in to GHCR from VPS using PAT
          echo ${{ secrets.GHCR_PAT }} | docker login ghcr.io -u ${{ secrets.GITHUB_USERNAME }} --password-stdin
          sudo docker   
          sudo docker stop push-tester || tru
          sudo docker rm push-tester || true
          sudo docker run -d --name push-tester -p 80:3000 -p 3000:3000 -p 3002:3002 ghcr.io/${{ github.repository_owner }}/push-tester:latest
