name: Развертывание на VPS

on:
  workflow_dispatch:

jobs:
  reboot:
    runs-on: ubuntu-latest
    
    steps:

    - name: Развертывание на VPS
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USERNAME }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          sudo reboot
